<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taburtuaigroup.taburtuai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaburTuai.NoActionBar">
        <activity
            android:name=".ui.smartfarming.aksessmartfarming.penjadwalan.CreateSchedulerActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.komunitas.forum.DetailForumPostActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.komunitas.forum.ForumActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />
        -->
        <!--
<meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />
        -->
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name=".ui.smartfarming.tutorial.CaraDaftarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.smartfarming.tutorial.PengenalanSmartFarmingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.smartfarming.tutorial.CaraKerjaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.smartfarming.penyakittumbuhan.PenyakitTumbuhanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.smartfarming.artikel.ArtikelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.smartfarming.fav.FavActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.smartfarming.penyakittumbuhan.DetailPenyakitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.smartfarming.artikel.DetailArtikelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.smartfarming.SmartFarmingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.feedback.FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.listpetanikebun.PetaniKebunActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter
                android:autoVerify="true"
                tools:targetAPI="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="taburtuaigroup.page.link" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.loginsignup.LoginSignupActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WelcomePageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.smartfarming.aksessmartfarming.kebun.KebunActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.smartfarming.aksessmartfarming.pilihkebun.PilihKebunActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.smartfarming.aksessmartfarming.loginsmartfarming.LoginSmartFarmingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.smartfarming.aksessmartfarming.penjadwalan.SchedulerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".core.features.scheduler.Scheduler"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.me.intent.finishlog" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>